* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

li {
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    width: 300px;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.171);
}

h1 {
    color: rgb(141, 0, 0);
}
